{{> templates/navbar}}
<div class="linear-container">
    {{> templates/heladeras/mapa_heladera}}

    <div class="status-container">
        <div class="info-heladera">
            <img src="/img/heladera.png" alt="icon" class="logo-peque ml-3 mr-5">
            <div>
                <p>Nombre: {{heladera.nombre}}</p>
                <p>Ubicacion: {{heladera.nombreCalle}} {{heladera.altura}}</p>
            </div>
        </div>
        <div class="status-heladera">
            <p class="mt-3 ml-3">Estado: {{heladera.activa}}</p>
            <p class="mb-3 ml-3">Ultima temperatura registrada: {{heladera.ultimaTempRegistrada}}°C</p>
        </div>
        <div class="status-buttons">
            <a href="/heladera/reportar/{{heladera.id}}">
                <button class="btn btn-reportar btn-dark  mb-3" >Reportar fallo</button>
            </a>
            {{#if esHumano}}
            <a href="/heladera/suscribirse/{{heladera.id}}">
                <button class="btn btn-custom btn-dark mb-3">Suscribirse a heladera</button>
            </a>
            {{/if}}
            <a href="/heladera/incidentes/{{heladera.id}}">
                <button class="btn btn-custom btn-dark mb-3">Alertas recientes</button>
            </a>
        </div>
    </div>
</div>