<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/mapa.css">
    <link rel="stylesheet" href="/css/containers.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tarjetas.css">
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="header-container">
            <img src = "/img/heladera.png" alt="logo" class="logo mt-2 mb-2 ml-3 mr-3">
            <h1 class="titulo ml-2">Sistema de Mejora Alimentaria</h1>

            <div class="icon-text ml-auto">
                <span class="m-3">{{username}}</span>
                <i class="bi bi-person mr-3"></i>
            </div>
        </div>
    </div>
    <div class="navbar-div">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item mr-auto seleccionado" id="tarjeta-btn">
                        <a class="nav-link {{tarjetas}}" href="/tarjeta">Tarjetas</a>
                    </li>
                    <li class="nav-item mr-auto" id="colaboracion-btn">
                        <a class="nav-link {{colaboraciones}}" href="/colaboraciones">Colaboraciones</a>
                    </li>
                    <li class="nav-item mr-auto" id="oferta-btn">
                        <a class="nav-link {{ofertas}}" href="/ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item mr-auto" id="heladera-btn">
                        <a class="nav-link {{heladeras}}" href="/heladeras">Heladeras</a>
                    </li>
                    <li class="nav-item mr-auto ml-auto">
                        <a href="h00.html">
                            <button class = "btn btn-dark rounded" id="return-home-btn">Volver al inicio</button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
