{{> templates/header}}
<div class="navbar-div">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
<!--                    Evalua como verdadero cualquier String no vacio, si es juridico enviar un String vacio :)-->
            {{#if esAdmin}}
                <li class="nav-item mr-auto" id="tarjeta-btn">
                    <a class="nav-link {{cargacsv}}" href="/migracion">Cargar CSV</a>
                </li>
                <li class="nav-item mr-auto" id="reportes-btn">
                    <a class="nav-link {{reporte}}" href="/reportes">Reportes</a>
                </li>
                <li class="nav-item mr-auto" id="colaboracion-btn">
                    <a class="nav-link {{formulario}}" href="/formularios">Formularios</a>
                </li>
                <li class="nav-item mr-auto" id="colaboracion-btn">
                    <a class="nav-link {{tecnico}}" href="/tecnico">Registrar Técnico</a>
                </li>
            {{else}}
                {{#if esHumano}}
                <li class="nav-item mr-auto seleccionado" id="tarjeta-btn">
                    <a class="nav-link {{tarjetas}}" href="/tarjeta">Tarjetas</a>
                </li>
                {{/if}}

                    <li class="nav-item mr-auto" id="colaboracion-btn">
                        <a class="nav-link {{colaboraciones}}" href="/colaboraciones">Colaboraciones</a>
                    </li>
                    <li class="nav-item mr-auto" id="oferta-btn">
                        <a class="nav-link {{ofertas_select}}" href="/ofertas">Ofertas</a>
                    </li>
                    <li class="nav-item mr-auto" id="heladera-btn">
                        <a class="nav-link {{heladeras}}" href="/heladera">Heladeras</a>
                    </li>
                    {{#if esJuridico}}
                        <li class="nav-item mr-auto seleccionado" id="tarjeta-btn">
                            <a class="nav-link {{recomendacion}}" href="/recomendacion">Recomendaciones</a>
                        </li>
                    {{/if}}
                {{/if}}
                <li class="nav-item mr-auto ml-auto">
                    <a href="/logout">
                        <button class = "btn btn-dark rounded" id="logout-btn">Cerrar sesión</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>