{{#partial "ofertas"}}
    <div class="container-inferior">
        {{#each ofertas}}
            <a class="offer-card" href="/ofertas/{{this.id}}" data-point="{{this.puntosNecesarios}}" data-rubro="{{this.rubroId}}">
                <img src="{{this.imagen}}" alt="Descripción de la oferta" class="offer-image-short">
                <p class="offer-title">{{this.nombre}}</p>
                <p class="offer-update">{{this.puntosNecesarios}} pts</p>
                <p class="offer-update">({{this.rubroNombre}})</p>
                <p class="offer-update">Fecha de publicación: {{this.fechaDeRealizacion}}</p>
            </a>
        {{/each}}
    </div>

<!-- Sección de Detalles -->
<div class="container-inferior-derecho" style="max-width: 30%">
    <img src="{{oferta.imagen}}" alt="Producto">
    <h2><b>{{oferta.nombre}}</b></h2>
    <div class="texto-izquierda">
        <h4>{{oferta.productoNombre}}</h4>
        <p class="descripcion">Puntos necesarios: {{oferta.puntosNecesarios}}</p>
        <p class="descripcion"><i>{{oferta.productoDes}}</i><p>
    </div>


    {{!-- ESTA BIEN EL HREF??? --}}
    <a class="dark-btn" href="/ofertas/misOfertas/{{oferta.id}}/modificar">Modificar</a>
</div>

{{/partial}}
{{> templates/ofertas/oferta_upperBox}}
