{{> templates/navbar}}
<div class="d-flex vh-100" style="background:white">
    <!-- Sección de Encargos -->
    <div class="overflow-auto border-end p-3" style="display: flex; flex-direction: column; align-items: center; min-width:100%">
    <h2 class="mb-4" style="color:black">Canjes Realizados</h2>
        <ul class="list-group" style="width: 100%">
            {{#if canjes.length}}
                {{#each canjes}}
                    <li class="list-group-item mb-3">
                        <!-- Encargo principal -->
                        <div class="justify-content-between align-items-center" style="color:black">
                            <div>
                                <strong>Nombre:{{this.ofertaNombre}}</strong><br>
                                <p>Coste: {{this.coste}}</p>
                                <small>Fecha de Realización: {{this.fecha}}</small>
                            </div>
                        </div>
                        <!-- Información detallada desplegable
                        <div id="detalles-encargo-{{@index}}" class="mt-2" style="display: none;">
                            <p><strong>Ubicación:</strong> {{this.ubicacionHeladera}}</p>
                            <p><strong>Descripción del Incidente:</strong> {{this.descripcionIncidente}}</p>
                        </div>
                        -->
                    </li>
                {{/each}}
            {{else}}
                <h3 class="mt-5">No ha realizado ningun canje</h3>
            {{/if}}
        </ul>
    </div>
</div>

<!-- Dejo esto por si acaso despues agragamos más data del canje -->
<script>
    function toggleDescripcion(index) {
        const descripcionElement = document.getElementById(`descripcion-${index}`);
        descripcionElement.style.display = descripcionElement.style.display === 'none' ? 'block' : 'none';
    }

    // Muestra u oculta la información detallada de cada encargo
    function toggleDetalles(index) {
        const detalles = document.getElementById(`detalles-encargo-${index}`);
        detalles.style.display = detalles.style.display === 'none' ? 'block' : 'none';
    }

    function registrarVisita(index, estado) {
        console.log('Visita registrada para encargo:', index);
        window.location.href = "/"+ index + "/visita"
    }
</script>
