{{#partial "ofertas"}}
    <div class="container-inferior">
        {{#each ofertas}}
            <a class="offer-card" href="{{this.id}}" data-point="{{this.puntosNecesarios}}" data-rubro="{{this.rubro.id}}">
                <img src="{{this.imagen}}" alt="Descripción de la oferta" class="offer-image-short">
                <p class="offer-title">{{this.nombre}}</p>
                <p class="offer-update">Coste: {{this.puntosNecesarios}} pts</p>
                <p class="offer-update">Rubro: {{this.rubro.nombre}}</p>
                <p class="offer-update">Fecha de publicación: {{this.fechaDeRealizacion}}</p>
            </a>
        {{/each}}
    </div>

<!-- Sección de Detalles -->
<div class="container-inferior-derecho">
    <img src="{{oferta.imagen}}" alt="Producto">
    <h2><b>{{oferta.nombre}}</b></h2>
    <div class="texto-izquierda">
        <p>Puntos necesarios: {{oferta.puntosNecesarios}}</p>
        <p>Producto: {{producto.nombre}}</p>
        <p class="descripcion">Descripcion: {{producto.descripcion}}<p>
    </div>


    {{!-- ESTA BIEN EL HREF??? --}}
    <a class="dark-btn" href="../{{oferta.id}}/modificar">Modificar</a>
</div>

{{/partial}}
{{> templates/ofertas/oferta_upperBox}}
