{{#partial "contenido"}}
<div class="tarjetas-entregadas ml-auto mr-auto">
    <h2 class="mt-3">Tarjetas Entregadas</h2>
    {{#each tarjetasEntregadas}}
        <form style="justify-content: center;" class="form-tarjeta" action="/tarjeta/delete/{{this.numero}}" method="POST" onsubmit="return confirmarEnvio()">
            <div class="tarjeta-persona-vulnerable div-expand">
            <p class="nro-tarjeta mr-5 mt-auto mb-auto">Nro: {{this.numero}}</p>
            <button style="overflow: hidden;" class="btn-transparente ml-5 mt-auto mb-auto" type="submit">
                <img class="paper-bin-img" src="/img/paper-bin.png" alt="Erase">
            </button>
            </div>
            <div class="expandible-t hidden">
                <table>
                    <thead>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{this.nombrePropietario}}</td>
                        <td>{{this.apellidoPropietario}}</td>
                        <td>{{this.dniPropietario}}</td>
                        <td>{{this.edadPropietario}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    {{/each}}
</div>
<script>
    function confirmarEnvio() {
        return confirm("¿Estás seguro de que quieres eliminar la tarjeta?");
    }
</script>

<script src="/js/tarjetas-entregadas-desplegable.js"></script>
{{/partial}}
{{> templates/tarjetas/home}}
