{{#partial "contenido"}}
<div class="container-supremo">
    <div class="tarjeta-personal-container">
        <h2 >Tarjeta Personal</h2>
        <div class="tarjeta-btns ml-auto mr-auto">
            <a href="">
                <button class="btn btn-dark mt-5 mb-3">Agregar tarjeta</button>
            </a>
            <a href="">
                <button class="btn btn-dark mb-3">Eliminar tarjeta</button>
            </a>
            <a href="">
                <button class="btn btn-dark mb-3">Modificar tarjeta</button>
            </a>
        </div>

    </div>
    <div class="container-tarjetas">

        {{#block "tarjeta-personal"}}
        {{/block}}

        <div class="tarjetas-entregadas ml-auto mr-auto">
            <h2 class="mt-3">Tarjetas Entregadas</h2>
            {{#each tarjetasEntregadas}}
            <div class="tarjeta-persona-vulnerable div-expand">
                <p class="nro-tarjeta mr-5 mt-auto mb-auto">{{this.numero}}</p>
                <p class="ml-3 mt-2 mb-2">{{this.usosDisponibles}}</p>
            </div>
            <div class="expandible-t hidden">
                <table>
                    <thead>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{this.nombrePropietario}}</td>
                        <td>{{this.dniPropietario}}</td>
                        <td>{{this.edadPropietario}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {{/each}}
        </div>
    </div>

</div>

<footer class="bg-dark text-white text-center py-3 mt-auto">
    <p>Lo que querramos poner</p>
</footer>

{{/partial}}
{{> templates/tarjeta_personal}}
